<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=1000,initial-scale=1,maximum-scale=1,user-scalable=yes">

	<link rel="Shortcut Icon" href="../static/favicon.ico">
	<!-- Standard iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../static/touch-icon-ipad-144.png" />  
	<!-- Retina iPad -->  
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../static/touch-icon-ipad-144.png" /> 
	<link rel="stylesheet" href="../static/css/main.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<!--[if lt IE 9]>
	<script src="../static/js/html5.js"></script>
	<![endif]-->
</head>  
<body>
	<!-- 头部 -->
	<header class="header"> 
		<!-- topbar -->
		<div class="topbar">
			<div class="layout clearfix">
				<div class="bar_left">
					<ul>
						<li><span>小满金服首页</span></li>
						<li style="margin-left: 40px;"><span>客服电话：400-844-5558</span></li>
						<li class="WeChat">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/WeChat.jpg">
								<p>扫一扫加微信</p>
							</div>
						</li>
						<li class="weibo">
							<i></i>
							<div>
								<span><em></em></span>
								<img src="../static/images/weibo.png">
								<p>扫一扫加微博</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="bar_right" style="display: none;">
					<a href="">登录</a>&nbsp;&nbsp;|&nbsp;
					<a href="">注册</a>
				</div>
				<!-- 登陆后显示 -->
				<div class="bar_right" >
					<span>欢迎您</span><a href="">boss</a> |
					<a href="javascript:;">退出</a>
 
				</div>
			</div>
		</div>
		<!-- topbar-end -->
		<!-- nav -->
		<nav class="nav">
			<div class="layout clearfix">
				<div class="nav_left">
					<!-- logo size 290px*64px -->
					<a href="" class="logo">
						<img src="../static/images/zclogo.png" alt="">
					</a>
				</div>
				<ul class="nav_right">
					<li><a href="" class="active">首页</a></li>
					<li><a href="">全部项目</a></li>
					<li><a href="">新手帮助</a></li>
					<li><a href="">发起众筹</a></li>
					<li class="myaccount">
						<a href="">我的账户</a>
						<!-- <ul>
							<li><a href="">1111</a></li>
							<li><a href="">222</a></li>
							<li><a href="">3333</a></li>
							<li><a href="">4444</a></li>
							<li><a href="">55555</a></li>
						</ul> -->
					</li>

				</ul>
			</div>
		</nav>
		<!-- banner -->
		<div class="banner" id="banner">
			<ul><!-- banner img size 100%*360px -->
				<li><a href=""><img src="../temp/1.jpg" alt=""></a></li>
				<li><a href=""><img src="../temp/2.jpg" alt="" ></a></li>
				<li><a href=""><img src="../temp/3.jpg" alt="" ></a></li>
				<li><a href=""><img src="../temp/4.jpg" alt="" ></a></li>
			</ul>
			<div class="layout">
            	<a href="javascript:;" class="prev"></a>
           		<a href="javascript:;" class="next"></a>  
			</div>
		</div>
		<!-- banner-end -->	
	</header>
	<!-- 头部结束 -->
	<!-- 内容 -->
	<div class="content">
	    
	</div>
	<!-- 内容结束 -->
	<!-- 页脚 -->
	<div class="footer mt40">
		<div class="layout footer_link clearfix">
			<ul class="footer_col_1">
				<li>兑换指南</li>
				<li><a href="">兑换流程</a></li>
				<li><a href="">常见问题</a></li>
				<li><a href="">配送服务查询</a></li>
				<li><a href="">配送费标准</a></li>
			</ul>
			<ul class="footer_col_2">
				<li>小满金服</li>
				<li><a href="">关于我们</a></li>
				<li><a href="">公司简介</a></li>
			</ul>
			<ul class="footer_col_3">
				<li>联系我们</li>
				<li>市场合作 <br><a href="mailto:Marketing@xiaomanjf.com">Marketing@xiaomanjf.com</a></li>
				<li>招商合作<br><a href="mailto:zhaoshang@xiaomanjf.com"></a>zhaoshang@xiaomanjf.com</li>
			</ul>
			<ul class="footer_col_4">
				<li>客服热线</li>
				<li>400-844-5558 (9:00-18:00)</li>
			</ul>
			<ul class="footer_col_5">
				<li>
					<img src="../static/images/WeChat.jpg" alt="">
					<p>扫码关注小满金服服务号</p>
				</li>
			</ul>
		</div>	
		<div class="layout footer_bar">
			<p>Copyright © 2016-2017小满金服(大连)有限公司  All Rights Reserved 辽ICP备16004265号-2</p>
			<p>地址：辽宁省大连市中山区延安路保嘉大厦15楼1516室    电话：400-844-5558</p>
		</div> 
	</div>
	<!-- 页脚结束 -->
	<!-- 右侧导航 -->
	<div class="nav_sidebar_right">
		<ul>	
			<!-- 签到成功添加CLASS ckeckinon -->
			<li>
				<a href="" class="nockeckin">
					<div class="nologin">
						<i class="arrow_pic"></i>
						<div class="check_tit">请登录</div>
					</div>	
					<div class="login">
						<i class="arrow_pic"></i>
						<div class="check_tit">已经签,获得300积分</div>
					</div>
				</a>
			</li>
			<li><a href="" class="xiaoman">
				<img src="../static/images/WeChat.jpg" alt="">
			</a></li>
			<li><a href="" class="focusus"></a></li>
			<li><a href="" class="contact"></a></li>
			<li><a href="" class="backtop"></a></li>
		</ul>
	</div>
	<!-- 右侧导航 end-->
<script src="../static/js/jquery.min.js"></script>	
<script src="../static/js/common.js"></script>
<script src="../static/js/index.js"></script>
</body>
</html>